body {
  height: 2000px;
}
h1 {
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  transform: translate(-50%, -50%);
  
  svg {
    width: 14px;
    display: block;
    margin: 10px auto;
    
    .arrow {
      animation: scroll .35s ease-in alternate infinite;
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

#cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mask: url('http://www.supah.it/dribbble/video-clip-mask.png?v=1');
  mask-size: 1800% 100%;
}

