.detailE{
    margin: 0 auto;
    width: 40%;
    height: 25px;
}
.accountInfo{
    /*background-color: #2aabd2;*/
}
.bs-example{
    margin: 0 auto;
    /*background-color: #2aabd2;*/
    width: 40%;
}
#logOut{
    margin-left: 405px;
}