.detailE{
    margin: 0 auto;
    width: 40%;
    height: 25px;
}
.accountInfo{
    /*background-color: #2aabd2;*/
    position: fixed;
    z-index: 2;
    margin-top: 100px;
}
#nav{
    position: fixed;
    z-index: 2;
}
.bs-example{
    margin: 0 auto;
    /*background-color: #2aabd2;*/
    width: 40%;
}

#logOut{
    margin-left: 78%;
}
#test{
    color: #c7254e;
    font-size: 20px;
}