/*输入框的css样式*/
.input-login{
    width: 500px;
    height: 55px;
    border-radius: 8px!important;

}
.glyphicon-icon{
    margin-left: -80px;
    z-index: 10;
    font-size: 20px;
}
.input-group-addon-icon{
    background-color: transparent!important;
    border: none;
}
/*职位的css样式*/
.position{
    border:1px solid #ccc;
    margin: 40px;

}
.position-h{
    text-indent:2.5em;
}
.position-a{
    float: right;
}
.navbar-default{
    background-image: url(../img/coding.png);
    background-repeat: no-repeat;
    background-size:contain
}
.breadcrumb a:hover{
    text-decoration: none;
    color: #333!important;
    background-color: rgba(255,255,255,0.7)!important;
}
.breadcrumb{
    background: transparent ;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.breadcrumb a{
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    padding: 2px 10px;border-radius: 3px;
    display: block;
}
